.image-container{
    display: flex;
}

#jordan{
width: 200px;
height: 200px;
margin-left:160px;
}

#kobe{
    width: 200px;
    height: 200px;
    margin-left:10px;
}

#james{
    width: 200px;
    height: 200px;
    margin-left:10px;
}

#magic{
    width: 200;
    height: 200px;
    margin-left:10px;
}

#shaq{
    width: 200px;
    height: 200px;
    margin-left:10px;
}

#larry{
    width: 200px;
    height: 200px;
    margin-left:10px;
}


#nba-form{
    margin-top: 80px;
}

#name-Over{
    display:block;
    width:100%;
    font-size: larger;
    color:rgb(0, 3, 6);
    margin-left: 50px;
    font-size: large;
    font-style: italic;
    font-display: bold;

}

#nba-image{
    position:relative;
    width: 300px;
}


